@import url(https://fonts.googleapis.com/css?family=Satisfy); 
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);

.title {
  display: flex;
  justify-content: center;
  font-family: 'Satisfy', cursive;
}

.container {

}

.content {
  display: flex;
  justify-content: center;
}

/* .User-Controls {
  display: flex;
} */


.sketchPad {
  padding: 10px;
}

.content>*:first-child {
  justify-content: center;
}

#sketchPadSize {
  padding: 10px;
  padding-left: 0px;
}

.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 150px;
}

.buttons button {
  border-radius: 10%;
  font-family: "Oswald", Sans-serif;
  background-color: white;
  border: 0px;
  
}

#sketchPadSize {
  font-family: "Oswald", Sans-serif;
}

.buttons button:hover {
  transform: scale(1.1) perspective(1px);
  cursor: pointer;
}

.colorPicker {
  padding-top: 150px;
  font-family: "Oswald", Sans-serif;
}




.sketchPad {
    width: 500px;
    height: 500px;
    display: grid;
    border: thin;
    
}



.slidecontainer {
    width: 100%; /* Width of the outside container */

  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }